//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "yzguy.io" IN {
    type slave;
    file "/var/cache/bind/yzguy.io";
    masters { 10.235.5.2; };
};

zone "5.235.10.in-addr.arpa" IN {
    type slave;
    file "/var/cache/bind/5.235.10.in-addr.arpa";
    masters { 10.235.5.2; };
};
